ComputerCraft/computer/0/BackwardsOS/programs/animation/ascii-content
ComputerCraft/computer/0/BackwardsOS/programs/animation/timed-ascii-content
ComputerCraft/computer/0/BackwardsOS/programs/animation/metadata.db